/* .Search {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  } */
  
  .Search .search-inputs {
    margin-bottom: 1rem;
  }
  
  .Search .search-inputs input[type="text"] {
    margin-right: 0.5rem;
  }
  
  .Search .search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .Search .search-results .product-item {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
  }
  
  .Search .search-results .product-item img {
    max-width: 100%;
    height: auto;
  }
  
  .Search .search-results .product-item .product-name {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .Search .search-results .product-item .product-description {
    margin-bottom: 0.5rem;
  }


  .Search input[type="text"],
.Search input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.Search button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.Search button:hover {
  background-color: #45a049;
}