@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.otp-group {
    display: flex;
    align-items: center; /* Centers children vertically in the container */
    justify-content: space-between; /* Spaces out the children horizontally */
    margin-bottom: 40px;
    height: 100%; /* Ensure the container takes up the required height */
}

.otp-group input[type="text"] {
    flex-grow: 1; /* Allows the input to grow and fill the available horizontal space, minus the button's width and margin */
    margin-right: 20px; /* Keeps a gap between the input and the button */
    /* Ensure the input aligns with your design */
}


.otp-button {
    width: 1000%; /* Adjust this to match your design, keeping in mind this determines the button's width relative to the container */
    /* Styling for the button */
    border-radius: 12px;
    border: none;
    background-color: #BBBBBB;
    color: white;
    cursor: pointer;
    /* Uncomment or adjust the padding to ensure the button's size is appropriate and aligns well with the input */
    /* padding: 10px; */
}



body, html {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure full height */
}

/* Base styles */
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensures it takes the full width of its parent */
}

.login-form {
    font-size: 1rem; /* Use rem for scalability */
    background-color: white;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Start with full width */
    max-width: 500px; /* Max width for larger devices */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 1px solid #ccc;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form .form-group label {
    color : #666666;
    font-size : 0.9375rem; /* 15px in rem */
    padding: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.login-form button {
    width: 100%;
    margin-top:20px;
    padding: 15px;
    border-radius: 32px;
    border: none;
    background-color: #BBBBBB;
    color: white;
    cursor: pointer;
}

.signup-text {
    text-align: left;
    margin-top: 20px;
    margin-bottom:25px; /* Adjusted to place here from the media query */
    font-size:16px; /* Adjusted to place here from the media query */
    color: #666666;
}

.signup-text .signup-link {
    color: #111111;
    text-decoration: underline;
}

.signup-text .text {
    color: #666666; /* Regular text color */
    text-decoration: none;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#email {
    --rem: 16;
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-right: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
}


